.sec-skill {
    .skill-list {
        .col {
            width: calc(4 / 12 * 100%);

            @include max($mobile) {
                width: 50%;
            }
        }
    }
}

.hero {
    .img-me {
        position: relative;
        border-radius: var(--rds-24);
        overflow: visible;
        background: linear-gradient(180deg, var(--Brand-Sky-Blue-950, rgba(22, 41, 80, 0.2)) 0%, var(--Brand-Sky-Blue-900, rgba(17, 66, 105, 0.2)) 100%);
        backdrop-filter: blur(1rem);
        padding: 2.4rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(40%, 40%) rotate(45deg);
            background: url(/_next/static/media/rocket.449068e5.gif);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 15rem;
            height: 15rem;
            z-index: 1;
        }
    }

    .title-lg {
        position: relative;
        padding: 1.2rem 1.6rem;
        border-radius: 1rem;
        width: fit-content;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--linear-trans-1);
            backdrop-filter: blur(1rem);
            border-radius: inherit;
        }
    }
}

.sec-about-me {
    .achive-list-wrap {
        width: 100%;
        margin-top: 2.4rem;

        .achive-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2.4rem;
            width: 100%;

            @include max($mobile) {
                gap: 1.6rem;
            }
        }

        .achive-col {
            flex: 1;
            min-width: 25rem; // ensures they wrap nicely if the viewport is narrow

            @include max($mobile) {
                flex: unset;
                width: 100%;
            }
        }
    }
}